
h1 {
  padding-top: 50px;
  background-image: linear-gradient(90deg, #ffffff, #294934);
  background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 48px;
  font-family: "Work Sans", sans-serif;
}

.App {
  background-color: rgb(250, 249, 249);
  width: 100vw;
  min-height: 100vh;
}





